@charset "utf-8";
/* CSS Document */

body, main, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: gray;
}

.MapFrame {
  display: grid;
  grid-template-columns: 20vw 20vw 60vw;
  grid-template-rows: repeat(4, 25vh);
  color: white;
  font-size: 10em;
  text-align: center;
}

.MapNav {
  background-color: #333333;
  grid-row: 1 / 5;
  grid-column: 1 / 1;
}

.MapTabExtension {
  /*display: none;*/
  background-color: red;
  grid-row: 1 / 5;
  grid-column: 2 / 2;
}

.MapPreview {
  background-color: #B52022;
  grid-row: 1 / 5;
  grid-column: 3 / 3;
}
